@import url(https://fonts.googleapis.com/css?family=Lato:400,300);input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label span {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

input[type="radio"]:checked + label .red {
  border: 2px solid #9c2020;
}

input[type="radio"]:checked + label .orange {
  border: 2px solid #805507;
}

input[type="radio"]:checked + label .yellow {
  border: 2px solid #75751a;
}

input[type="radio"]:checked + label .olive {
  border: 2px solid #4a4a4a;
}

input[type="radio"]:checked + label .green {
  border: 2px solid #324e32;
}

input[type="radio"]:checked + label .teal {
  border: 2px solid #003633;
}

input[type="radio"]:checked + label .blue {
  border: 2px solid #282884;
}

input[type="radio"]:checked + label .violet {
  border: 2px solid #7a3c7a;
}

input[type="radio"]:checked + label .purple {
  border: 2px solid #501962;
}

input[type="radio"]:checked + label .pink {
  border: 2px solid #851554;
}

.radio-label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.radio-label:hover span {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.radio-label span {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.radio-label span.red {
  background: #de5d5d;
}

.radio-label span.orange {
  background: #f3a413;
}

.radio-label span.yellow {
  background: #d4d43a;
}

.radio-label span.olive {
  background: #8a8a8a;
}

.radio-label span.green {
  background: #649c64;
}

.radio-label span.teal {
  background: #00B5AD;
}

.radio-label span.blue {
  background: #5d5dce;
}

.radio-label span.violet {
  background: #bd78bd;
}

.radio-label span.purple {
  background: #A333C8;
}

.radio-label span.pink {
  background: #E03997;
}

