
.app-bar {
    z-index: 1217 !important ;
}

.content {
    margin-top: 20px;
    margin-left: 246px;
    width: calc( 100% - 270px);
    padding-bottom: 52px;
}

.content-mobile {
    width: 90%;
    margin-left: 5%;
    margin-top: 16px;
    padding-bottom: 52px;
}

.search-box-div {
    width: 295px;
    margin: auto;
    margin-bottom: 17px;
}

.search-box {

}

/* NavBar */

.navbar-title {
    font-family: 'Unica One', cursive;
    font-size: 30px;
    margin-left:10px ;
}

.navbar-title-mobile {
    font-family: 'Unica One', cursive;
    font-size: 25px;
    margin-left:5px ;
}

.logout-button {
    position: absolute !important;
    right: 13px;
    background-color: rgb(197, 85, 85) !important;
    color: white !important;
}


/* SideBar */
.sidebar-title {
    font-family: 'Unica One', cursive;
}

.sidebar-first-button {
    margin-top : 15px !important ;
}

.collapse-item {
    padding-left: 36px !important;
}

.small-icon {
    height: 16px !important;
}

.large-icon {
    height: 21px !important;
}

/* PasswordCard */
.chip-div {
    align-content: center;
    width: 92%;
    margin: auto;
}

.password-card {
    width:auto ;
}

.fixed-add-button {
    position: fixed !important;
    z-index: 1999 !important;
    right: 20px !important;
    bottom: 20px !important;
    background-color: #6fb996 !important;
}

.card-content {
    padding: 6px 16px !important ;
}

.card-header {
    padding: 16px 16px !important ;
    padding-top:16px !important;
}

.card-header-div {
    display:flex ;
}

.card-title {
    font-size: 25px;
    font-weight: 400 !important;
    position: relative;
    left: 17px;
    top: 5px;
}

.card-footer {
    padding: 2px 16px !important ;
}

.copy-button {
    position: relative !important;
    left: 10px;
}

.card-text-input {
    margin: 10px 0px;
    height: 29px;
    width: calc(100% - 65px );
    border-radius: 6px;
    border: 1px solid darkgrey;
    padding: 0px 10px;
    font-family: monospace;
    position: relative;
    left: 10px;
}

.add-password-card {
    height: 235px;
    padding: 20px;
    position: relative;
    opacity: 0.8;
    transition:0.3s ;
}

.add-password-card:hover {
    opacity: 1;
}

.add-password-icon {
    position: absolute;
    left: calc(50% - 40px );
    top: calc(50% - 45px );
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}

.add-password-icon:hover {
    opacity: 1;
}


/* Password Modal */

.add-password-modal {
    height: 442px;
    width: 330px;
    position: fixed;
    top: calc( 50% + -220px);
    right: calc( 50% + -165px );
    color: white;
    background: rgb(255, 255, 255);
    border-radius: 7px;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    /* top: calc( 10% + -68px); */
    /* right: calc( 19% + -165px ); */
    color: white;
    background: rgba(0, 0, 0, 0.54);
    border-radius: 7px;
    z-index: 2000;
}

.add-password-modal-title {
    width: fit-content;
    margin: auto;
    color: #273b35;
    margin-top: 16px;
    margin-bottom: 15px;
}

.add-password-modal-form-div {
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

.add-password-modal-form-input {
    display: block;
    width: 300px;
    margin: 10px 0px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #c1c1c1;
    padding: 0px 10px;
    font-size: 14px;
    font-family: monospace;
}

.add-password-modal-form-textarea {
    display: block;
    width: 300px;
    margin: 10px 0px;
    height: 90px;
    border-radius: 8px;
    border: 1px solid #c1c1c1;
    padding: 5px 10px;
    font-size: 14px;
    resize: none;
    font-family: monospace;
}

.add-password-modal-form-add-button {
    margin-top:10px !important;
    margin-right:4% !important;
    background-color: #558175  !important;
    /*border-radius: 23px !important;*/
    width: 48% !important;
    height: 41px !important;
    font-weight: 600 !important;
}

.add-password-modal-form-close-button {
    margin-top: 10px !important;
    background-color: rgba(143, 150, 148, 0.7490196078431373) !important;
    /*border-radius: 23px !important;*/
    width: 48%!important;
    height: 41px !important;
    font-weight: 600 !important;
}

.add-password-modal-form-color-picker {
    margin: auto;
    width: fit-content;
    margin-bottom: 12px;
    padding-left: 10px;
}

.color-radio-container {
    display: inline-block;
}

.error-input {
    border-color: #ff6464;
}

.add-password-modal-form-show-password-button {
    position: absolute !important ;
    top: 178px !important ;
    right: 11px !important ;
}
