

body {
    min-height: 100%;
}

html {
    height:100% ;
}

h3 , h2 , h5 , h6 , p {
    margin: 0px ;
    font-family: 'Abel', sans-serif;
    font-weight:200 ;
}

/* hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

/*  overriding the material ui */

.MuiTypography-body2-123 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.175rem !important;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.71429em;
}


