

.background {
    background-image: url('http://localhost:8000/img/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centered {
    position: absolute;
    width: 100%;
    padding: 20px 20px 20px 20px;
    min-width: 300px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.welcome-panel {
    background-color: rgba(255, 255, 255, 0);
    height: 70% ;
    min-height:500px;
}

.welcome-grid {
    height: 100%;
}

.login-panel {
    position: relative;
    top: calc(50% + -250px );
    height: 500px;
    padding: 40px;
    bottom: 16px;
    min-width: 295px;
    max-width: 349px;
    margin:auto;
    background-color: rgba(255, 255, 255, 0.95) !important;
}

.website-description-panel {
    padding:20px 20px ;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
    overflow-y: scroll;
}

/* description panel */

.website-name {
    margin: auto;
    margin-top:10%;
    font-weight:400;
    color: #617972;
    font-family: 'Unica One', cursive;
}

.website-description {
    margin: auto;
    margin-top: 7px;
    font-weight:300;
    font-size: 26px;
    color: #617972;

}

.documentation-button {
    left: -4px !important;
    margin-right: 10px !important;
    margin-top: 30px !important;
    background-color: #5e8c7f !important;
    border-radius: 23px !important;
    width: 180px !important;
    height: 46px !important;
    font-family: 'Metamorphous', cursive;
    font-weight: 600 !important;
}

.create-account-button {
    margin-top: 30px !important;
    background-color: rgba(143, 150, 148, 0.7490196078431373) !important;
    border-radius: 23px !important;
    width: 201px !important;
    height: 46px !important;
    font-family: 'Metamorphous', cursive;
    font-weight: 600 !important;
}

.description-button-icon {
    margin-left:10px !important ;
}


/* login panel */

.login-input {
    width: 100%;
}

.logo-div {
    width: 100px !important;
    height: 100px !important;
    margin: auto;
    border-radius: 50%;
    margin-bottom: -2px;
}

.logo-div-mobile {
    width: 100px !important;
    height: 100px !important;
    margin: auto;
    border-radius: 50%;
    margin-bottom: -9px;
    margin-top: -30px;
}


.logo {
    height:100px ;
}

.website-name-login-panel {
    width: 176px;
    margin: auto;
    font-weight: 400;
    color: rgb(135, 150, 139);
    font-family: 'Unica One', cursive;
    margin-bottom: -5px;
    font-size: 24px;
}

.website-name-login-panel-mobile {
    width: 176px;
    margin: auto;
    font-weight: 400;
    color: rgb(135, 150, 139);
    font-family: 'Unica One', cursive !important;
    margin-bottom: 24px;
    margin-top:0px;
    font-size: 24px;

}

.website-description-login-panel-mobile {
    width: 209px;
    margin: auto;
    font-weight: 400;
    color: #abb0af;
    margin-bottom: 20px;
}

.documentaion-button-login-panel-div {
    width: 55px;
    margin: auto;
    margin-top: -12px;
    margin-bottom: -11px;
}

.documentaion-button-login-panel {
    width: 55px;
    height: 24px !important;
    background-color: #abb0af !important;
    color: white !important;
    font-size: 10px !important;
}

.login-checkbox {
    margin-top: 6px;
    position: absolute;
    right: 15px;
}

.sign-in-button {
    margin-top: 62px !important;
    margin-right:4% !important;
    background-color: #558175  !important;
    /*border-radius: 23px !important;*/
    width: 48% !important;
    height: 41px !important;
    font-weight: 600 !important;
}

.sign-up-button {
    margin-top: 62px !important;
    background-color: rgba(143, 150, 148, 0.7490196078431373) !important;
    /*border-radius: 23px !important;*/
    width: 48%!important;
    height: 41px !important;
    font-weight: 600 !important;
    font-size:11px !important;
}

.logos-login-panel {
    margin: auto;
    width: 96px;
    position: absolute;
    bottom: 10px;
    left: calc(50% + -48px );
    opacity: 0.8;
}
