@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

$colors: (
  red: #de5d5d,
  orange: #f3a413,
  yellow: #d4d43a,
  olive: #B5CC18,
  green: #649c64,
  teal: #00B5AD,
  blue: #5d5dce,
  violet: #bd78bd,
  purple: #A333C8,
  pink: #E03997
);


input[type="radio"] {
  display: none;
  &:checked + label {
    span { transform: scale(1.25); }
    @each $name, $value in $colors {
      .#{$name} {
        border: 2px solid darken($value, 25%);
      }
    } // !@each
  } // !&:checked + label
}

.radio-label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    span {
      transform: scale(1.25);
    }
  }
  span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;
    @each $name, $value in $colors {
      &.#{$name} {
        background: $value;
      }
    }
  }
}
